 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1 .u-table-1 {
  width: 1428px;
  margin: 22px -240px 0 auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -155px auto 0 161px;
  padding: 6px 34px 6px 32px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 511px;
  padding: 6px 34px 6px 32px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 258px 60px auto;
  padding: 6px 33px 6px 32px;
}

.u-section-1 .u-text-1 {
  width: auto;
  font-size: 1.125rem;
  margin: 104px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 55px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 276px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 56px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
}